/* Global styles */

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-color: black;
    overflow-x: hidden;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    padding-top: 25vh;
    padding-bottom: 60px;
    max-width: 600px;
}

/* 
@media screen and (max-width: 768px) {
    .content {
      margin-top: 30px;
    }
} */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta {
    background-color: #FF5722;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

.cta:hover {
    background-color: #FF8A65;
}

/* Navbar styles */

.navbar {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.navbar-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.navbar-toggle.active .icon-bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.active .icon-bar:nth-child(2) {
    opacity: 0;
}

.navbar-toggle.active .icon-bar:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 10px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .navbar-menu.active {
        display: flex;
        z-index: 1;
    }

    .navbar-menu li {
        margin-bottom: 25px;
    }

    .navbar-toggle {
        display: block;
        /* top: 15px;
        right: 15px; */
    }

    .navbar-menu li a {
        font-size: 32px;
        text-align: center;
    }
}

/* Section styles */

.section {
    padding: 125px 0;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.section * {
    pointer-events: auto;
}

.section-container {
    margin: 0 auto;
    max-width: 1200px;
}

.section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.section p {
    font-size: 18px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .section-container {
        padding: 0 20px;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    color: #ffffff;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: rotateX(15deg) translateY(-5px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.5);
}

.card-icon {
    font-size: 48px;
    margin-bottom: 20px;
    color: #FF5722;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FF8A65;
}

.card p {
    font-size: 16px;
}

/* Interactive Live Demo styles */
#interactive-live-demo {
    position: relative;
    z-index: 2;
}

.inputfile {
    display: none;
}

label {
    background-color: #FF5722;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
}

label:hover {
    background-color: #FF8A65;
}

#query-container {
    display: none;
    margin-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#query-form {
    display: inline;
}

#query-form input[type="text"] {
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #ff7f00;
    background-color: #3a3a3a;
    /* Change background color to make the input box visible */
    caret-color: #ff7f00;
    outline: none;
    width: 100%;
    /* Add width to make the input box fill the available space */
}

#upload-form {
    margin-bottom: 30px;
}

.hidden {
    display: none;
}

.terminal {
    /* Add display: flex and flex-direction: column to properly position the input box */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 14px;
    line-height: 1.4;
    margin-top: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.message {
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.ai,
.human {
    font-weight: bold;
}

.ai {
    color: #00ffff;
}

.human {
    color: #ff7f00;
}

/* STEPS SECTION */
#steps {
    position: relative;
    /* z-index: 2; */
}

#steps h2 {
    color: #FF5722;
    font-size: 32px;
    margin-bottom: 15px;
}

#steps p {
    font-size: 20px;
    margin-bottom: 30px;
}

.steps-container {
    display: flex;
    justify-content: center;
}

.step-list {
    list-style-type: none;
    padding-left: 0;
}

.step-list li {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.step-number {
    background-color: #FF5722;
    color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    font-weight: bold;
}

/* SPINNER */
.spinner {
    border: 6px solid rgba(255, 255, 255, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* INTERACTION CONTENT */
.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.full-width-flex {
    display: flex;
    width: 100%;
}

#prompt {
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #ff7f00;
    background-color: #3a3a3a;
    caret-color: #ff7f00;
    outline: none;
    width: calc(100% - 40px); /* Adjust the width to take up remaining space, minus submit button width */
    margin-right: 10px;
}

.spinner-query {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin-query 1s linear infinite;
}

@keyframes spin-query {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 10px;
    width: 100%;
}

#submit-btn i {
    color: #fff;
    font-size: 14px;
    line-height: 1;
}

#submit-btn {
    background-color: #FF5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 5px 10px; /* Adjust padding to match #prompt padding */
    height: 30px; /* Add height to match the #prompt height */
    line-height: 20px; /* Adjust line-height to vertically center the icon */
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-btn:hover {
    background-color: #FF8A65;
}