<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathway.AI | AI-Powered Digital Assistants</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="shortcut icon" type="image/png" href="/static/img/ai.png" sizes="16x16">
</head>

<body>
    <div id="particles-js"></div>

    <nav class="navbar">
        <div class="navbar-container">
            <div class="navbar-logo">
                              
                <a href="#">Pathway.AI</a>
            </div>
            <ul class="navbar-menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#steps">Steps</a></li>
                <li><a href="#interactive-live-demo">Live Demo</a></li>
            </ul>
            <button class="navbar-toggle" id="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </nav>
    <div >
        <div class="content" id="home">
            <h1>Revolutionize Your Business with AI-Powered Digital Assistants</h1>
            <p>Pathway.AI enables you to create custom digital assistants for your business, without any coding.</p>
            <button class="cta" onclick="scrollToSection()">Get Started Now</button>
            <script>
                function scrollToSection() {
                  // Get the position of the section we want to scroll to
                  var section = document.getElementById("interactive-live-demo");
                  var position = section.getBoundingClientRect().top + window.pageYOffset;
                
                  // Scroll to the section using a smooth animation
                  window.scrollTo({
                    top: position,
                    behavior: "smooth"
                  });
                }
            </script>
        </div>

        <section class="section" id="features">
            <h2>Features</h2>
            <div class="card-container">
                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h3>AI-Powered</h3>
                    <p>Our AI-powered digital assistants will revolutionize your business operations and customer interactions.</p>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-cogs"></i>
                    </div>
                    <h3>Customizable</h3>
                    <p>Company.AI enables you to create custom digital assistants tailored to your business needs, without any coding.</p>
                </div>
                <div class="card">
                    <div class="card-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <h3>User-Friendly</h3>
                    <p>Our digital assistants are designed to provide a seamless and user-friendly experience for your customers.</p>
                </div>
            </div>
        </section>

        <section class="section" id="steps">
            <h2>Steps</h2>
            <p>Follow these simple steps to create and interact with your intelligent digital assistant:</p>
            <div class="steps-container">
                <ol class="step-list">
                    <li><span class="step-number">1</span> Simply drag and drop your data</li>
                    <li><span class="step-number">2</span> Instantly fine-tune your model</li>
                    <li><span class="step-number">3</span> Deploy your model</li>
                    <li><span class="step-number">4</span> Interact with your intelligent digital assistant</li>
                </ol>
            </div>
        </section>        
        
        
        <section class="section" id="interactive-live-demo">
            <h2>Interactive Live Demo</h2>
            <p>Experience the power of our AI-Powered Digital Assistants through this interactive live demo.</p>
            <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                <div id="file-and-upload">
                    <input type="file" name="file" id="file" class="inputfile" required/>
                    <label for="file">Choose file</label>
                    <input type="submit" value="Upload" class="cta" />
                </div>
                <div id="spinner" class="spinner hidden"></div>
            </form>            
            <div id="spinner" class="spinner hidden"></div>
            <div id="query-container">
                <div id="terminal" class="terminal">
                    <div class="messages"></div>
                    <form id="query-form">
                        <div class="input-container">
                            <div class="input-wrapper full-width-flex" style="display: flex;"> <!-- Add this wrapper div -->
                                <input type="text" id="prompt" name="prompt" required />
                                <button type="submit" id="submit-btn">
                                    <i class="fas fa-check fa-1x"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="loading-container" style="display: none;">
                        <div class="spinner-query"></div>
                    </div>
                </div>
            </div>                                             
        </section>                    
        
    </div>
    <script src="/static/js/particles-config.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src="/static/js/demo.js"></script>
</body>

</html>